<% if @message.sender.profil.attached? %>
	<h2><%= link_to message.sender.first_name, user_path(message.sender.id)%></h2>
	 <%= image_tag message.sender.profil, alt: 'photo_achat',style: "height:50px; width: 50px;" %>
	 <h3><%=message.content%></h3>
<%else%>
	<h2><%= link_to message.sender.first_name, user_path(message.sender.id)%></h2><br>
	<h3><%=message.content%></h3>
<%end%>
	<%= form_tag edit_user_message_prife_path(params[:user_id],message.id),method:'get' do submit_tag 'Edit' 
	end%>
	<%= form_tag user_message_prife_path(params[:user_id],message.id),action:'delete',method:'delete' do submit_tag 'destroy', data:{confirm: "voulez vraiment supprimer cette message"} 
    end%>
    <%if message.is_read %>
    	<small><i>Vu le <%=message.updated_at.day%>/<%=message.updated_at.month%>/<%=message.updated_at.year%> à <%=message.updated_at.hour%>:<%=message.updated_at.min%></i></small>
     <%end%>