
<div class="ground first">
  <div class='bigboxmp'>
  <h1 class= "center"><strong>Messages</strong></h1>
  <div class='boxmp'>
    <!-- parcours le tableau contenant l'id des users dont le current_user a recue ou à envoyer des msg et affiche le nom du  sender ou recipient -->
    <%@id_sender_recipient.each do |id|%>
      <!-- message du current user avec le sender avec l'id = id -->
      <%m = MessagePrive.where('sender_id = :u AND recipient_id = :cu OR sender_id = :cu AND recipient_id = :u', cu:current_user.id, u:id).last%>
      <%if current_user == m.sender %>
      <!-- lien vers l'affichage du msgs -->
        <h4><%=link_to "#{m.recipient.first_name} (#{MessagePrive.where('sender_id =:r AND recipient_id =:current_user_id  AND is_read =:a',current_user_id:current_user.id , r: m.recipient.id ,a:false).count})",new_user_message_prife_path(id), method:'get'%></h4>>
          <%if m.recipient.profil.attached?%>
            <a href="<%=user_path(m.sender.id)%>"><%=image_tag m.recipient.profil,class:'messageprofil'%></a>
        
         <%else%>
            <a href="<%=user_path(m.sender.id)%>"><%=image_tag 'profil.png',class:'messageprofil'%></a>
         <%end%>
         <%=link_to "#{m.recipient.first_name} (#{MessagePrive.where('sender_id =:r AND recipient_id =:current_user_id  AND is_read =:a',current_user_id:current_user.id , r: m.recipient.id ,a:false).count})",new_user_message_prife_path(id), method:'get'%>
       </h4><br>
      <%else%>
      <!-- lien vers l'affichage du msgs -->
           <h4>
          <%if m.sender.profil.attached?%>
            <a href="<%=user_path(m.sender.id)%>"><%=image_tag m.recipient.profil,class:'messageprofil'%></a> 
          <%else%>
            <a href="<%=user_path(m.sender.id)%>"><%=image_tag 'profil.png',class:'messageprofil'%></a>
          <%end%>
          <%=link_to "#{User.find(id).first_name} (#{MessagePrive.where('recipient_id =:current_user_id AND sender_id= :s AND is_read =:a',current_user_id:current_user.id,s: m.sender.id, a:false).count})", new_user_message_prife_path(id), method:'get'%>
        </h4>
      <%end%>  
    <%end%>
  </div>
</div>
