<h1>Messages</h1>

<%@id_sender_recipient.each do |id|%>
  <%m = MessagePrive.where('sender_id = :u AND recipient_id = :cu OR sender_id = :cu AND recipient_id = :u', cu:current_user.id, u:id).last%>
  <%if current_user == m.sender %>
    <h1>sender :<%=current_user.first_name%></h1>     <h2>recipient: <%=m.recipient.first_name%></h2>
     <h2><%=link_to m.content, new_user_message_prife_path(id), method:'get'%></h2>
  <%else%>
    <h1><%=User.find(id).first_name%></h1>
     <h2> <%=link_to m.content, new_user_message_prife_path(id), method:'get'%></h2>
  <%end%>
  <br>
<%end%>