<div class="ground">
	<div class="bigboxmp">
		<div class="boxmp">
			
		</div>
		<%if @messages.length == 0%>
			<h1 style="text-align:center;"><strong>Ecrire un message à <%=User.find(@id).first_name%>  <%=User.find(@id).last_name%></strong></h1>
		<%else%>
			<div id="message">
				<h1 >
					<strong>
					<a href="<%= user_path(@id)%>">
					  <% if User.find(@id).profil.attached?%>
						<%= image_tag User.find(@id).profil, alt: 'photo_achat',class:'messageprofil' %>
					<%else%>
						<%=image_tag 'profil.png',class:'sipmlephoto'%>
					<%end%>
						<%=User.find(@id).first_name%>  <%=User.find(@id).last_name%>
					</a>
					</strong>
				</h1><br>
				<%comptage_length = 0 %>
				<%@messages.each do |message|%>
					<%if current_user == message.sender%>
						<div class="usermessage" >
						<% if message.sender.profil.attached? %>
							<p>
							 	<a href="<%=user_path(current_user.id)%>"><%= image_tag message.sender.profil, alt: 'photo_achat',class:'sipmlephoto'%></a>
							</p>
								<i class="messageshow"><%=message.content%></i><br>
					
							 
						<%else%>
							<p>
								<a href="<%= user_path(message.sender.id)%>"><%=image_tag 'profil.png',class:'sipmlephoto'%></a>
							</p><br>
							<i class="messageshow"><%=message.content%></i><br>
							<%comptage_length += 1 %>
							<% if @messages.length == comptage_length && message.recipient == current_user%>
								<%= form_tag  user_message_prife_path(params[:user_id],message.id),action:'update',method:'patch' do %>
						        	<%=hidden_field_tag :content, message.content%>
						        	<%=hidden_field_tag :read?, false%>
						        	<%=submit_tag 'Marquer comme non lu'%>
						        <%end%>
						    <%end%>
						<%end%>
						<%=link_to 'Editer' ,edit_user_message_prife_path(params[:user_id],message.id),class:'btn btn-success'%>
						<%=link_to 'supprimer',user_message_prife_path(params[:user_id],message.id),method:'delete',data:{confirm: "voulez vraiment supprimer cette message"},class:'btn btn-danger'%><br>
				        <%if message.is_read %>
				        	<small><i>Vu le <%=message.updated_at.day%>/<%=message.updated_at.month%>/<%=message.updated_at.year%> à <%=message.updated_at.hour%>:<%=message.updated_at.min%></i></small>
				        <%end%>
				        <%comptage_length += 1 %>
					  </div>
					<%else%>
						<% if message.sender.profil.attached?%>
							<p>
								<a href="<%=user_path(message.sender.id)%>"> <%= image_tag message.sender.profil, alt: 'photo_achat',class:'sipmlephoto'%></a>
								<i class="messageshow"><%=message.content%></i><br>
								
							</p>
						<%else%>
							<p>
								<a href="<%= user_path(message.sender.id)%>"><%=image_tag 'profil.png',class:'sipmlephoto'%></a>
								<i class="messageshow"><%=message.content%></i>	
							</p>
							<br>
						<%end%>
						<%comptage_length += 1 %>
						<% if @messages.length == comptage_length && message.recipient == current_user%>
							<%= form_tag  user_message_prife_path(params[:user_id],message.id),action:'update',method:'patch' do %>
					        	<%=hidden_field_tag :content, message.content%>
					        	<%=hidden_field_tag :read?, false%>
					        	<%=submit_tag 'Marquer comme non lu'%>
					        <%end%>
					    <%end%>
					<%end%>
				<%end%>
			</div>
		<%end%><br>
		<div class="center">
			<%= form_tag(user_message_prives_path(), :id => 'form_tag_with_remote_true', remote: true,method:'post')do%>
			   	<textarea type='text' name="content" placeholder="Ecrire une message" class="form-control"></textarea><br>
			  	<%=submit_tag :envoyer, remote: true%>
			<%end%>	
		</div>
	</div>
</div>


