<div class="ground first ">

    <%if @message.length !=0%>
        <%i =@message.length%>
        <%for k in (0..@message.length-1)%>
            <%i-=1%>
           <%if @message[i].sender == current_user%>
              <br>
                  <%if @message[i].sender.profil.attached?%>
                    <%=@message[i].sender.first_name%><br>
                    <%= image_tag @message[i].sender.profil, alt: 'photo_achat',style: "height:50px; width: 50px;"%><%=  @message[i].content%>
                  <%else%>
                    <%=@message[i].sender.first_name%><br>
                    <%=  @message[i].content%>
                  <%end%>
                  <%= form_tag edit_user_vente_message_prife_path(params[:user_id],params[:vente_id],@message[i].id),method:'get' do%>
                     <%=submit_tag 'Editer'%>
                  <%end%> 
                  <%= form_tag user_vente_message_prife_path(params[:user_id],params[:vente_id],@message[i].id),method:'delete' do%>
                    <%=submit_tag 'Supprimer', data:{confirm: "Etes-vous sûr ?"}%>
                  <%end%>
           <%else%>
              <br>
              <%if @message[i].sender.profil.attached?%>
                <%=@message[i].sender.first_name%><br>
                <%= image_tag @message[i].sender.profil, alt: 'photo_achat',style: "height:50px; width: 50px;"%><%=  @message[i].content%>
              <%else%>
                <%=@message[i].sender.first_name%><br>
                <%=  @message[i].content%>
              <%end%>
           <%end%>  
           <br>
        <%end%> 
        <%= form_tag user_vente_message_prifes_path(params[:user_id],params[:vente_id]),action:'create',method:'post' do%>
          <%=text_area_tag :content%>
            <%=submit_tag :envoyer%>
        <%end%>
    <%else%>
    <h1>Ecrire une message</h1>
    <%= form_tag user_vente_message_prifes_path(params[:user_id],params[:vente_id]),action:'create',method:'post' do%>
      <%=text_area_tag :content%>
        <%=submit_tag :envoyer%>
    <%end%>
    <%end%>

</div>


