<div class="ground editachatground blanche">
<div class="container">
	<h1>BIENVENUE DANS NOTRE SITE</h1>

	<p>
		<h3>Vous êtes l'administrateur de notre site <strong><i>AgriGasy</i></strong>.<br/></h3>
	</p>

	<h3>Liste de tout(s) le(s) administrateur(s)</h3>
	<% @admin.each do |admin| %>
		<i>Nom : </i><%= link_to admin.first_name, user_path(admin.id) %><br>
	<% end %>
	<br>

	<%= link_to "Vente à authentifier", authentification_vente_path %><br>
	<%= link_to "Achat à authentifier", authentification_achat_path %><br>
	<%= link_to "liste des utilisateurs de votre Site", liste_des_utilisateurs_path %><br>

	<p>Essayer de bien gérer notre page</p>


	<h3>Voici la liste de tous les utilisateurs y compris les administrateurs:)</h3>
	<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Admin</th>
  </tr>
	<%@user.each do |user| %>
	  <tr>
	    <td><%=user.first_name%></td>
	    <td><%= user.last_name%></td>
	 
	    <td><label class="switch">
			  <input type="checkbox" checked>
			  <span class="slider round"></span>
			</label>
		</td>
  	  </tr>
	<%end%>
</table>
</div>

</div>
</div>

