<div class="ground editachatground blanche">
<div class="container">
	<h1>BIENVENUE DANS NOTRE SITE</h1>

	<p>
		<h3>Vous êtes l'administrateur de notre site <strong><i>AgriGasy</i></strong>.<br/></h3>
	</p>

	<h3>Liste de tout(s) le(s) administrateur(s)</h3>
	<% @admin.each do |admin| %>
		<i>Nom : </i><%= link_to admin.first_name, user_path(admin.id) %><br>
	<% end %>
	<br>

	<p>
		<% if @vente.length != 0 %>
			<%= link_to "Vente à authentifier", "/admindashboard/authentification_vente" %> (<%@vente.length%>) <br>
		<% else %>
			<%= link_to "Vente à authentifier", "/admindashboard/authentification_vente" %> (0) <br>
		<% end %>
		<% if @achat.length != 0 %>
			<%= link_to "Achat à authentifier", "/admindashboard/authentification_achat" %> (<%@achat.length%>) <br>
		<% else %>
			<%= link_to "Achat à authentifier", "/admindashboard/authentification_achat" %> (0) <br>
		<% end %>
		<%= link_to "Liste des utilisateurs de votre Site", "/admindashboard/liste_des_utilisateurs" %><br>
	</p>

	<p>Essayer de bien gérer notre page</p>
</div>

</div>
</div>

