<div class="ground editachatground blanche">
<div class="container">
	<h1><strong>BIENVENUE DANS NOTRE SITE</strong></h1>

	<p>
		<h3>Vous êtes l'administrateur de notre site <strong><i>AgriGasy</i></strong>.<br/></h3>
	</p>

	<h3>Liste de tout(s) le(s) administrateur(s)</h3>
	<% @admin.each do |admin| %>
		<i>Nom : </i><%= link_to admin.first_name, user_path(admin.id) %><br>
	<% end %>
	<br>

	<p>
		<%= link_to "Vente à authentifier", "/admindashboard/authentification_vente" %> (<%=@vente.length%>) <br>
		<%= link_to "Achat à authentifier", "/admindashboard/authentification_achat" %> (<%=@achat.length%>) <br>
		<%= link_to "Liste des utilisateurs de votre Site", "/admindashboard/liste_des_utilisateurs" %><br>
	</p>

	<p>Essayer de bien gérer notre page</p>
</div>

</div>
</div>

