<div class="ground">
<!-- affichage allert -->
  <% if flash[:success] %>
    <div class="alert alert-success" style="text-align: center;"><%= flash[:success]%></div>
  <% else  %>
    <%if flash[:danger]%>
      <div class="alert alert-danger" style="text-align: center;"><%= flash[:danger]%></div>
    <% end %>
  <% end %>
  <section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h1 class="page-name">Modifier ma publication de vente</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="page-wrapper ">
     <div class="checkout shopping">
        <div class="container">
           <div class="row">
              <div class="col-md-8">
                 <div class="block billing-details">
                    <h4 class="widget-title">changer les détails</h4>
                     <%= form_tag url_for(action: 'update'), method:'patch' do%>
                       <div class="form-group">
                          <label for="user_address">Nom de produit</label><i class="rouge">*</i>
                          <input type="text" class="form-control" name="nom" value="<%=@vente.produit.name %>">
                       </div>
                       <div class="form-group">
                          <label for="full_name">Quantité disponible</label><i class="rouge">*</i>
                          <input type="text" class="form-control" name="quantite" value="<%=@vente.quantite%>">
                       </div>
                       <div class="checkout-country-code clearfix">
                          <div class="form-group">
                             <label for="user_post_code">Region</label><i class="rouge">*</i>
                             <input type="text" class="form-control" name="place" value="<%=@vente.region.place%>">
                          </div>
                          <div class="form-group" >
                             <label for="user_city">Date de disponibilité</label><i class="rouge">*</i>
                             <input type="date" name="date" class="form-control" <%if @vente.date != nil %>value="<%=@vente.date.to_date%>"<%end%> min= <%=Time.now%>><br/>
                          </div>
                       </div>
                       <div class="form-group">
                          <label for="user_country">Local exacte</label><i class="rouge">*</i>
                          <input type="text" class="form-control" name="lieu" value="<%=@vente.lieu%>" >
                       </div>                     
                       <div class="form-group">
                          <label for="user_country">Déscription</label><i class="rouge">*</i>
                          <textarea type="text" name="description" class="form-control" ><%=@vente.description %></textarea>
                       </div>
                      <input type="submit" value="Enregistrer" class="btn btn-primary">  <%= link_to "Annuler", :back ,class:"btn btn-secondary"%>
                    <%end%>

                 </div>
              </div>
              <div class="col-md-4 ">
                 <div class="product-checkout-details">
                    <div class="block">
                       <h4 class="widget-title">Changer la photo</h4>
                       <div class="media product-card">
                       <%if @vente.avatarvente.attached?%>
                          <%= image_tag @vente.avatarvente, alt: 'photo_vente',style: "max-height:400px; width: 440px;",class:'radius' %>
                        <%else%>
                          <p>=== Il n'y a pas encore de photo lié à cette publication ===</p>
                          <%= image_tag "profil.png", alt: 'profil_picture',style: "width: 200px;height:190px;" %>
                        <%end%> 
                        <br>
                       </div>
                      <div class="photo editvente1 floue">
                        <h6>Changer la photo de profil ?</h6>
                          <%= form_tag '/', multipart: true do %>
                            <%= file_field_tag :profil%>
                            <input type="submit" class="btn btn-primary" value="Valider">
                          <% end %>
                       </div>
                    </div>
                 </div>
              </div> 
           </div>
        </div>
     </div>
  </div>
</div>