<br><br><br>
<h1>Voici les listes de tous les Ventes disponibles :</h1>
<p>
	<div class="mar">
		<% @vente.each do |vente| %>
			<% if vente.is_authenticate == true %>
				<div class="containerlist">
					<ul class="border">
						<div class="tezz">
							<li>
								<%if vente.avatarvente.attached?%>
									<div class="img-comp-container">
									  <div class="img-comp-img pblink">
									    <a href="<%=vente_path(vente.id)%>"><%= image_tag vente.avatarvente, alt: 'photo_vente',style: "height:200px; width: 240px;"  %>
										</a>
									  </div>
									  <div class="img-comp-img img-comp-overlay">
									  	<a href="<%=user_path(vente.user.id)%>">
									  		<%if vente.user.profil.attached?%>
									    		<%= image_tag vente.user.profil, alt: 'photo_vente',style: "height:60px; width: 60px;"  %>
									    	<%else%>
									    		<i class="menu-item fa fa-user"></i>
									    	<%end%>
									    </a>
									  </div>
									</div>
								<%else%>
									<p>=== Il n'y a pas encore de photo lié à cette publication ===</p>
								<%end%>
							</li>
						</div>
						<table class="tableau">
							<tr>
								<td><%= link_to vente.produit.name, produits_path %></td>
								<td><%= link_to vente.region.place, regions_path %></td>
							</tr>
						</table>
						<%unless vente.avatarvente.attached?%>
							<li><div class="center">
								<%= link_to "See more", vente_path(vente.id) ,class:'boutton simple seemore' %>
							</div></li>
						<%end%>
						<li><div class="center">
							<%if current_user !=nil %>
								<%if (Signall.find_by(user: current_user, vente_id: vente.id)== nil)%>
									<%=link_to "signaler", "/users/#{current_user.id}/ventes/#{vente.id}/signalls",class:'boutton simple seemore',method: 'post' %>
								<%else%>
									<%=link_to "ne pas signaler", "/users/#{current_user.id}/ventes/#{vente.id}/signalls",class:'boutton simple seemore',method: 'post' %>
								<%end%>
								<%if vente.signalls.length != 0%>
									<%=link_to "(#{vente.signalls.length})", user_vente_signalls_path(current_user.id,vente.id)%>
								<%end%>
							<%end%>
						</div></li>
					</ul>
				</div>
			<% end %>
		<% end %>
	</div>
</p>