<br><br><br>
<h1>Listes de toutes les Ventes disponibles :</h1>
<p>
	<div class="mar">
		<% @vente.each do |vente| %>
			<% if vente.is_authenticate == true %>
				<div class="containerlist">
					<ul class="border">
						<div class="tezz">
							<li>
								<%if vente.avatarvente.attached?%>
									<div class="img-comp-container">
									  <div class="img-comp-img pblink">
									    <a href="<%=vente_path(vente.id)%>"><%= image_tag vente.avatarvente, alt: 'photo_vente',style: "height:200px; width: 240px;"  %>
										</a>
									  </div>
									  <div class="img-comp-img img-comp-overlay">
									  	<a href="<%=user_path(vente.user.id)%>">
									  		<%if vente.user.profil.attached?%>
									    		<%= image_tag vente.user.profil, alt: 'photo_vente',style: "height:60px; width: 60px;"  %>
									    	<%else%>
									    		<i class="menu-item fa fa-user"></i>
									    	<%end%>
									    </a>
									  </div>
									</div>
								<%else%>
									<p>=== Il n'y a pas encore de photo lié à cette publication ===</p>
								<%end%>
							</li>
						</div>
						<table class="tableau">
							<tr>
								<td><%= link_to vente.produit.name, produits_path %></td>
								<td><%= link_to vente.region.place, regions_path %></td>
							</tr>
						</table>
						<div class="overlay-box">
              <div class="overlay-inner">
            		<a class="overlay-content" href="<%=vente_path(vente.id)%>">
									<h3 class="mb-0"><i class="fa fa-info bleu"></i> Détails</h3>
            		</a>
            		<% if user_signed_in? %>
            			<%if (Signall.find_by(user: current_user, vente_id: vente.id)== nil)%>
            				<a class="overlay-content" href="<%=user_vente_signalls_path(current_user.id,vente.id)%>" data-method= 'post'>
										<h3 class="mb-0"><i class="fa fa-user rouge"></i> Signaler</h3>
            				</a>
               		<%else%>
										<a class="overlay-content" href="<%=user_vente_signalls_path(current_user.id,vente.id)%>" data-method= 'post'>
										<h3 class="mb-0"><i class="fa fa-user rouge"></i> Ne pas signaler</h3>
            				</a>
               		<%end%>
               		<% if current_user.is_admin %>
                    <%if vente.signalls.length != 0%>
                      <%=link_to "(#{vente.signalls.length})", user_vente_signalls_path(current_user.id,vente.id)%>
                    <%end%>
                	<%else%>
                		<%if vente.signalls.length != 0%>
                    	<%=vente.signalls.length%>
                  	<%end%>
                	<%end%>
            		<%end%>
            	</div> 
          	</div>
					</ul>
				</div>
			<% end %>
		<% end %>
	</div>
</p>