<div class="ground editachatground ">
<!-- affichage allert -->
<% if flash[:success] %>
	<div class="alert alert-success" style="text-align: center;"><%= flash[:success]%></div>
<% else  %>
  	<%if flash[:danger]%>
		<div class="alert alert-danger" style="text-align: center;"><%= flash[:danger]%></div>
	<% end %>
<% end %>
<h1>Voici le contenu de cet article</h1>

<h3>Photo du produit à vendre</h3>
<%if @vente.avatarvente.attached?%>
  <%= image_tag @vente.avatarvente, alt: 'photo_vente',style: "max-height:200px; width: 240px;"  %>
<%else%>
  <p>=== Il n'y a pas encore de photo lié à cette publication ===</p>
<%end%>
  <%if current_user == @vente.user || current_user.is_admin%>
  	<h3>Changer de photo ?</h3>
	<%= form_tag vente_avatarventes_path(@vente), multipart: true do %>
	  <%= file_field_tag :avatarvente %>
	  <%= submit_tag "mettre à jour" %>
	<% end %>
  <%end%>
<p>
	<strong>Nom : </strong> <%= @vente.produit.name %><br>
	<strong>Description : </strong> <%= @vente.description %><br>

	<strong>Quantite : </strong> <%= @vente.quantite %><br>
	<strong>Prix : </strong> <%= @vente.prix %><br>
	<strong>Region : </strong> <%= @vente.region.place %><br>
	<strong>Lieu : </strong> <%= @vente.lieu %><br/>
	<strong>Date de sortie : </strong> <%= @vente.date.to_date %><br>
</p>

<p>
	<%if @vente.user == current_user || current_user.is_admin%>
		<%= link_to "Edit post", edit_vente_path(@vente.id) %><br>
		<%= link_to "Effacer", vente_path(@vente.id), method: 'delete', data: {confirm: 'supprimé?'} %><br>
	<%end%>

	<% if current_user.is_admin %>
		<% if @vente.is_authenticate != true %>
			<%= link_to "Authentifier la publication", "/admindashboard/authentificate_vente/#{@vente.id}" %><br>
		<% end %>
	<% end %>

	<%if current_user != @vente.user%>
		<%if @vente.user != current_user || current_user.is_admin %>			
			<%= form_tag "/users/#{@vente.user.id}/ventes/#{@vente.id}/message_prives",method:'get' do %>
			 
			 	  <%= submit_tag "envoyer message" %> 
			  	  
			<% end %>
		<%end%>
	<%else%>	
			<%@sender_id.each do |s|%>
				<%a = MessagePrive.where(sender_id: s, recipient_id:current_user.id)+MessagePrive.where(sender_id:current_user.id, recipient_id:s)%>
			 <%= link_to "Message from #{User.find(s).first_name}", "/users/#{s}/ventes/#{@vente.id}/message_prives/#{a[0].id}"%><br>	
		
			<%end%> 	  
	<%end%>
		

</p>
</div>

