<h1>Voici le contenu de cet article</h1>

<h3>Photo du produit à vendre</h3>
<%if @vente.avatarvente.attached?%>
  <%= image_tag @vente.avatarvente, alt: 'photo_vente' %>
<%else%>
  <p>=== Il n'y a pas encore de photo lié à cette publication ===</p>
  <h3>Changer de photo ?</h3>
	<%= form_tag vente_avatarventes_path(@vente), multipart: true do %>
	  <%= file_field_tag :avatarvente %>
	  <%= submit_tag "mettre à jour" %>
	<% end %>
<%end%>

<p>
	<strong>Nom : </strong> <%= @vente.produit.name %><br>
	<strong>Description : </strong> <%= @vente.description %><br>

	<strong>Quantite : </strong> <%= @vente.quantite %><br>
	<strong>Prix : </strong> <%= @vente.prix %><br>
	<strong>Region : </strong> <%= @vente.region.place %><br>
	<strong>Lieu : </strong> <%= @vente.lieu %><br/>
	<strong>Date de sortie : </strong> <%= @vente.date.to_date %><br>
</p>
<p>
	<%= link_to "Edit post", edit_vente_path(@vente.id) %><br>
	<%= link_to "Effacer", vente_path(@vente.id), method: 'delete', data: {confirm: 'supprimé?'} %><br>


	<%= form_tag "/users/#{current_user.id}/ventes/#{@vente.id}/message_prives",method:'get' do %>
	 	  <%=@vente.user.id%>
	 	  <%= submit_tag "envoyer message" %> 
	  	  
	<% end %>

</p>