<div class="produitground ">
</div>
<div class="oneprod">
		
	<!-- affichage allert -->
	<% if flash[:success] %>
		<div class="alert alert-success" style="text-align: center;"><%= flash[:success]%></div>
	<% else  %>
		<%if flash[:danger]%>
			<div class="alert alert-danger" style="text-align: center;"><%= flash[:danger]%></div>
		<% end %>
	<% end %>
	<div style="color: white;">
		<h1 class="center" style="font-family: verdana;font-size: 30px;">Liste de tous les produits disponibles </h1>
	</div>
	<div class="row align-items-center">
		<div class="boxproduit">
			<h1 class="center" style="font-family: Time New Roman;font-size: 25px;">PRODUITS
			</h1>
			<div class="text-center">
			<% @produit.each do |produit| %>
				<%vente_authentification = false
				achat_authentification = false%>
				<%produit.ventes.each do |vente|
					if vente.is_authenticate
						vente_authentification = true
						break
					else
						vente_authentification = false
					end
				end%>
				<%produit.achats.each do |achat|
					if achat.is_authenticate
						achat_authentification = true
						break
					else
						achat_authentification = false
					end
				end%>
				<%if user_signed_in?%>
					<%if achat_authentification || vente_authentification || current_user.is_admin%>
						<table class="tab1">
							<tr>
								<td>
									<h4><i><%=link_to produit.name , produit_path(produit.id)%></i></h4>
								</td>
								<%if current_user.is_admin%>
									<td><h4><i><%= link_to " Supprimer", produit_path(produit.id), method: 'delete', data: {confirm: 'Etes-vous sûr ?'} %></i></h4></td>
								<%end%>
							</tr>
						</table>
					<%end%>
				<%else%>
					<%if achat_authentification || vente_authentification%>
						<table class="tab1">
							<tr>
								<td>
									<h4>
									<i><%=link_to produit.name , produit_path(produit.id)%></i>
									</h4>
								</td>
							</tr>
						</table>
					<%end%>
				<%end%>
			<%end%>
			</div>
		</div>
		<div>
			<div class="grid-con">
				<div class="grid-it">
					<div id="slider">
						<figure>
							<%= image_tag("image1.jpg")%>
							<%= image_tag("image2.jpg")%>
							<%= image_tag("image3.jpg")%>
							<%= image_tag("01.jpg")%>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
