<div class="ground editachatground blanche">

	<h2>Voici la liste de tous les produits sur : <%=@produit.name%></h2>
	<%if @produit.ventes.length != 0%>
		<h4>Vente disponible sur <%=@produit.name%></h4>
		<%@produit.ventes.each do |vente|%>
			<i>Région du produit : </i><%=vente.region.place%><br>
			<i>Quantité du produit : </i><%=vente.quantite%><br/>
			<%= link_to "Detail", vente_path(vente.id) %><br/><br/>
		<%end%>
	<%else%>
		<h4>Personne n'a besoin de <%=@produit.name%>!</h4><br><br/>
	<%end%>
	<%if @produit.achats.length != 0%>
		<h4>Besoin des autres sur <%=@produit.name%></h4>
		<%@produit.achats.each do |achat|%>
			<i>Région du produit : </i><%=achat.region.place%><br>
			<i>Quantité du produit : </i><%=achat.quantite%><br/>
			<%= link_to "Detail", achat_path(achat.id) %><br/><br/>
		<%end%>
	<%else%>
		<h4>Personne n'a besoin de <%=@produit.name%>!</h4><br><br/>
	<%end%>
	<%if current_user.is_admin%>
		<i><%= link_to " supprimer ce produit", produit_path, class:'btn btn-danger', method: 'delete', data: {confirm: 'supprimer?'} %></i><br/>
	<%end%>

</div>

