<h1>Edit Publication :</h1>

<p>
	<%= form_tag url_for(action: 'update'), method: "put" do %>

  	<%= label_tag 'Nom de produit' %><br/>
  	<%= text_field_tag 'nom', @achat.produit.name %><br/> 

  	<%= label_tag "Description" %><br/>
  	<%= text_area_tag 'description', @achat.description %><br/> 

    <%= label_tag "Quantité disponible" %><br/>
    <%= text_area_tag 'quantite', @achat.quantite %><br/> 

    <%= label_tag "Prix" %><br/>
    <%= text_area_tag 'prix', @achat.prix %><br/>

    <%= label_tag "Date de disponibilité" %><br/>
    <%= text_area_tag 'date', @achat.date %><br/>

    <%= label_tag "Lieu" %><br/>
    <%= text_area_tag 'lieu', @achat.lieu %><br/>
    
    <%= submit_tag "Update post" %>

  <% end %>
  <h4><em><%= link_to "Back", :back %></em></h4>
  <h4><em><%= link_to "Home", root_path %></em></h4>
</p>
