<div class="ground editachatground">
<!-- affichage allert -->
  <%if flash[:danger]%>
    <div class="alert alert-danger" style="text-align: center;"><%= flash[:danger]%></div>
  <% end %>
  <h1 class="center blanche">Edition de la Publication</h1>
  <div class=" editachat1 ">
    <%if @achat.avatarachat.attached?%>
      <%= image_tag @achat.avatarachat, alt: 'photo_achat',style: "max-height:400px; width: 440px;",class:'radius' %>
    <%else%>
      <p>=== Il n'y a pas encore de photo lié à cette publication ===</p>
    <%end%>
    <div class="photo floue">
      <%if current_user == @achat.user || current_user.is_admin%>
        <h3>Changer de photo ?</h3>
        <%= form_tag achat_avatarachats_path(@achat), multipart: true do %>
          <%= file_field_tag :avatarachat,class:'boutton success' %>
          <%= submit_tag "mettre à jour",class:'boutton success' %>
        <% end %>
      <%end%>     
    </div>
  </div>
  <div class="editachat2 textgras">
    <p>
    	<%= form_tag url_for(action: 'update'), method: "put" do %>

      	<i class="floue">Nom de produit</i><br/>
        <input type="text" name="nom" value="<%=@achat.produit.name %>"><i class="rouge">*</i><br/> 

      	<i class="floue">Description</i><br/>
        <textarea type="text" name="description" class="areaedit"><%=@achat.description %>
        </textarea> <i class="rouge">*</i><br/> 

        <i class="floue">Quantité disponible</i><br/>
        <input type="text" name="quantite" value="<%=@achat.quantite%>"><i class="rouge">*</i></br>

        <i class="floue">Region</i><br>
        <input type="text" name="place" value="<%=@achat.region.place%>"><i class="rouge">*</i><br/>
        <i class="floue">Prix en ariary / unité</i><br/>
        <input type="text" name="prix" value="<%=@achat.prix%>"><br/>
        <i class="floue">Date de disponibilité</i><br/>
        <input type="date" name="date" <%if @achat.date != nil %>value="<%=@achat.date.to_date%>"<%end%> min= <%=Time.now%>><br/>
        <i class="floue">Lieu exacte</i><br/>
        <input type="text" name="lieu" value="<%=@achat.lieu%>"><br/><br/>
        
        <%= submit_tag "Valider",class:'boutton success ' %>
        <%= link_to "Annuler", :back ,class:'boutton primary '%>
      <% end %>
    </p>  
  </div>
</div>
