<h1>Edit Publication :</h1>

<p>
	<%= form_tag url_for(action: 'update'), method: "put" do %>

  	Nom de produit<br/>
    <input type="text" name="nom" value="<%=@achat.produit.name %>">*<br/> 

  	Description<br/>
    <input type="text" name="description" value="<%=@achat.description %>">*<br/> 

    Quantité disponible<br/>
    <input type="text" name="quantite" value="<%=@achat.quantite%>">*</br>

    Prix en ariary / unité<br/>
    <input type="text" name="prix" value="<%=@achat.prix%>"><br/>
    Date de disponibilité<br/>
    <input type="date" name="date" value="<%=@achat.date.to_date%>" min= <%=Time.now%>><br/>
    Region<br>
    <input type="text" name="place" value="<%=@achat.region.place%>">*<br/>
    Lieu<br/>
    <input type="text" name="lieu" value="<%=@achat.lieu%>"><br/>
    
    <%= submit_tag "Update post" %>

  <% end %>
  <h4><em><%= link_to "Back", :back %></em></h4>
  <h4><em><%= link_to "Home", root_path %></em></h4>
</p>
