<br><br><br>
<h1>Liste de tous les achats disponibles</h1>
<p>
	<div class="mar">
		<% @achat.each do |achat| %>
			<% if achat.is_authenticate == true %>
				<div class="containerlist">
					<ul class="border">
						<div class="tezz">
							<li>
								<%if achat.avatarachat.attached?%>
									<div class="img-comp-container">
									  <div class="img-comp-img pblink">
									    <a href="<%=achat_path(achat.id)%>"><%= image_tag achat.avatarachat, alt: 'photo_achat',style: "height:200px; width: 240px;"  %>
									    </a>
									  </div>
									  <div class="img-comp-img img-comp-overlay">
									  	<a href="<%=user_path(achat.user.id)%>">
									  		<%if achat.user.profil.attached?%>
									    		<%= image_tag achat.user.profil, alt: 'photo_vente',style: "height:60px; width: 60px;"  %>
									    	<%else%>
									    		<i class="menu-item fa fa-user"></i>
									    	<%end%>
									  	</a>
									  </div>
									</div>
								<%else%>
									<p>=== Il n'y a pas encore de photo lié à cette publication ===</p>
								<%end%>
							</li>
						</div>
						<table class="tableau">
							<tr>
								<td><%= achat.produit.name %></td>
								<td> <%= achat.region.place %></td>
							</tr>
						</table>
						<%unless achat.avatarachat.attached?%>
							<li><div class="center">
								<%= link_to "See more", achat_path(achat.id),class:'boutton simple seemore' %>
							</div></li>
						<%end%>
						<% if user_signed_in? %>
							<li><div class="center">
								<%if current_user !=nil %>
									<%if (SignalAchat.find_by(user: current_user, achat_id: achat.id)== nil)%>
										<%=link_to "Signaler", "/users/#{current_user.id}/achats/#{achat.id}/signal_achats",class:'boutton simple seemore',method: 'post' %>
									<%else%>
										<%=link_to "Ne pas signaler", "/users/#{current_user.id}/achats/#{achat.id}/signal_achats",class:'boutton simple seemore',method: 'post' %>
									<%end%>
									<% if current_user.is_admin %>
										<%if achat.signal_achats.length != 0%>
											<%=link_to "(#{achat.signal_achats.length})", user_achat_signal_achats_path(current_user.id,achat.id)%>
										<%end%>
									<%end%>
								<%end%>
							</div></li>
						<%end%>
					</ul>
				</div>
			<% end %>
		<% end %>
	</div>
</p>