<div class="ground editachatground ">
<!-- affichage allert -->
    <% if flash[:success] %>
    <div class="alert alert-success" style="text-align: center;"><%= flash[:success]%></div>
    <% else  %>
      <%if flash[:danger]%>
    <div class="alert alert-danger" style="text-align: center;"><%= flash[:danger]%></div>
    <% end %>
    <% end %>
<h1>Voici le besoin de cette personne</h1>

<h3>Photo du produit qu'on a besoin</h3>
<%if @achat.avatarachat.attached?%>
  <%= image_tag @achat.avatarachat, alt: 'photo_achat',style: "max-height:200px; width: 240px;" %>
<%else%>
  <p>=== Il n'y a pas encore de photo lié à cette publication ===</p>
<%end%>
<%if current_user == @achat.user || current_user.is_admin%>
<h3>Changer de photo ?</h3>
<%= form_tag achat_avatarachats_path(@achat), multipart: true do %>
  <%= file_field_tag :avatarachat %>
  <%= submit_tag "mettre à jour" %>
<% end %>
<%end%>
<p>
	<strong>Nom : </strong> <%= @achat.produit.name %><br/>
	<strong>Description : </strong> <%= @achat.description %><br/>
	<strong>Quantite : </strong> <%= @achat.quantite %><br/>
	<%if @achat.prix != "" %>
	<strong>Prix : </strong> <%= @achat.prix %><br/>
	<%end%>
	<strong>Region : </strong> <%= @achat.region.place %><br/>
	<%if @achat.lieu != "" %>
	<strong>Lieu : </strong> <%= @achat.lieu %><br>
	<%end%>

	<%if @achat.date != nil %>
	<strong>Date : </strong> <%= @achat.date.to_date %><br>
	<%end%>
	
</p>
<%if @achat.user == current_user || current_user.is_admin%>
		<%= link_to "Editer", edit_achat_path(@achat.id) %><br>
		<%= link_to "Effacer", achat_path(@achat.id), method: 'delete', data: {confirm: 'supprimé?'} %><br>
<%end%>

<% if current_user.is_admin %>
	<% if @achat.is_authenticate != true %>
		<%= link_to "Authentifier la publication", "/admindashboard/authentificate_achat/#{@achat.id}" %><br><br>
	<% end %>
<% end %>
	<%if current_user != @achat.user%>
		<%if @achat.user != current_user || current_user.is_admin %>			
			<%= form_tag "/users/#{@achat.user.id}/achats/#{@achat.id}/messagepriveachats",method:'get' do %>
			 
			 	  <%= submit_tag "envoyer message" %> 
			  	  
			<% end %>
		<%end%>
	<%else%>	
			<%@sender_id.each do |s|%>
				<%a = MessagePrive.where(sender_id: s, recipient_id:current_user.id)+MessagePrive.where(sender_id:current_user.id, recipient_id:s)%>
			 <%= link_to "Message from #{User.find(s).first_name}", "/users/#{s}/achats/#{@achat.id}/messagepriveachats/#{a[0].id}"%><br>	
		
			<%end%> 	  
	<%end%>
</div>
