<div class="ground">
	<!-- affichage allert -->
	<% if flash[:success] %>
		<div class="alert alert-success" style="text-align: center;"><%= flash[:success]%></div>
	<% else  %>
	  	<%if flash[:danger]%>
			<div class="alert alert-danger" style="text-align: center;"><%= flash[:danger]%></div>
		<% end %>

	<% end %>
	<h1 class="center">Voici le contenu de cet article</h1>
	<!-- ------------------- -->
	<div class="main">
	    <div class="container tim-container">
	        <div id="extras">
	            <div class="space"></div>
	            <div class="row">
	                <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
	                    <div class="text-center">
	                    	<h3>Photo du produit qu'on a besoin</h3>
							<%if @achat.avatarachat.attached?%>
								<%= image_tag @achat.avatarachat, alt: 'photo_achat',class:"img-rounded img-responsive"%>
							<%else%>
			  					<%=image_tag '01.jpg',class:"img-rounded img-responsive" %>
			  				<%end%>
	                    </div>
	                </div>
	                <div class="col-md-5 col-sm-12">
	                    <h1 class="text-center"><%=@achat.produit.name%><br>
	                    <small class="subtitle">A propos</small></h1>
	                    <hr>
	                    <p>
	                    <strong>Description : </strong> <%= @achat.description %><br/>
	                    </p>
	                    <p>
	                       <strong>Quantite : </strong> <%= @achat.quantite %><br/>
	                    </p>
	                    <p>
	               			<%if @achat.prix != nil %>
								<strong>Prix : </strong> <%= @achat.prix %><br/>
							<%end%>                                 
	                    </p>
	                    <p>
	                    	<strong>Region : </strong> <%= @achat.region.place %><br/>
	                    	<%if @achat.lieu != "" %><br>
						      <strong>Local : </strong> <%= @achat.lieu %><br>
						    <%end%>
	                    </p>
	                    <p>
	                    	<%if @achat.date != nil %>
						      <strong>Date : </strong> <%= @achat.date.to_date %><br>
						    <%end%>
	                    </p>
	                </div>
	            </div>
	        </div>
	    <!--     end extras -->    
	    </div>
	<!-- end container -->
	</div>
	<div class="showpbbow">
		<div class="showpbbow1">
			<%if @achat.user != current_user || current_user.is_admin %>	
				<%= form_tag new_user_message_prife_path(@achat.user.id) ,action: 'new',method:'get' do %>
					<%= submit_tag "Envoyer message" ,class:'btn btn-primary' %>  
				<% end %>
			<%end%>
		</div>
		<div class="showpbbow2">
			<h3>
				<%if (SignalAchat.find_by(user: current_user, achat_id: @achat.id)== nil)%>
					<a class="overlay-content" href="<%=user_achat_signal_achats_path(current_user.id,@achat.id)%>" data-method= 'post'>
						<i class="mb-0 "><i class="fa fa-user rouge"></i> Signaler</i>
					</a>
			 	<%else%>
					<a class="overlay-content" href="<%=user_achat_signal_achats_path(current_user.id,@achat.id)%>" data-method= 'post'>
						<i class="mb-0"><i class="fa fa-user rouge"></i> Ne pas signaler</i>
					</a>
			 	<%end%>
			 	<% if current_user.is_admin %>
			        <%if @achat.signal_achats.length != 0%>
			          <%=link_to "(#{@achat.signal_achats.length})", user_achat_signal_achats_path(current_user.id,@achat.id)%>
			        <%end%>
			    <%else%>
			    	<%if @achat.signal_achats.length != 0%>
			          <%=@achat.signal_achats.length%>
			        <%end%>
			    <%end%>
			</h3>
		</div>
	</div>

	<div class="showpb">
		<div class="showpbbow1">
			<%if @achat.user == current_user || current_user.is_admin%>

				<%= link_to "Editer", edit_achat_path(@achat.id), class:'btn btn-primary' %>	

				<%= link_to "Supprimer", achat_path(@achat.id), method: 'delete', data: {confirm: 'Etes-vous sûr ?'}, class:'btn btn-danger' %>
			<%end%>		
		</div>
		<div class="showpbbow2">	
			<% if current_user.is_admin %>
				<% if @achat.is_authenticate != true %>
					<%= link_to "Authentifier la publication", authentificate_achat_path(@achat.id),class:'btn btn-secondary'%><br>
				<% end %>
			<% end %>
		</div>
	</div>
</div>				         