<h1>Editer le profil d'utilisateur</h1>
 <%= form_tag url_for(action: 'update'), method:'patch' %>
 first_name:<input type="text" name="first_name" value="<%=@user.first_name%>"><br>
 last_name:<input type="text" name="last_name" value="<%=@user.last_name%>"><br>
 Age : <input type="number" name="age"  min="0" value="<%=@user.age%>"><br>
 Habite à : <input type="text" name="ville" value="<%=@user.ville%>"><br>
 contact :<input type="text" name="contact" value="<%=@user.contact%>"><br>
 description:<textarea type="text" name="description"><%=@user.description%></textarea>
<input type="submit" value="update">
