<h1>Ma profil </h1>
          first_name :<%= current_user.first_name%><br>
          last_name :<%= current_user.last_name%><br>
          Age :<%= current_user.age%><br>
          Ville : <%= current_user.ville%><br>
          contact :<%= current_user.contact%><br>
          description : <%= current_user.description%><br>
          Votre e-mail : <%= current_user.email%><br>
<%=link_to 'editer mon profil', edit_user_path(current_user.id)%>
 