
<h1>Mon profil est changer</h1>

<h3>Profil actuel</h3>
<%if @user.profil.attached?%>
  <%= image_tag @user.profil, alt: 'profil_picture' %>
  <h3>Changer la photo de profil ?</h3>
	<%= form_tag user_profils_path(@user), multipart: true do %>
	  <%= file_field_tag :profil %>
	  <%= submit_tag "mettre à jour" %>
	<%end%>
<%else%>
  <p>=== Vous n'avez pas encore une photo de profil ===</p>
  <h3>Ajouter une photo de profil ?</h3>
	<%= form_tag user_profils_path(@user), multipart: true do %>
	  <%= file_field_tag :profil %>
	  <%= submit_tag "mettre à jour" %>
	<% end %>
<%end%>
<br>
<i>first_name :</i><br>
<%= @user.first_name%><br> 
<i>last_name :</i><br>
<%= @user.last_name%><br>
<%if params[:age] != "" %>
  <i>Age :</i><br>
  <%=@user.age%>ans<br>
 <%end%>
<%if params[:ville] != "" %>
  <i>Ville :</i><br>
  <%= @user.ville%><br>
<%end%>
<%if params[:contact] != nil %>
	<i>contact :</i><br>
	<%=@user.contact%><br>
<%end%>
<i>description :</i><br>
<%= @user.description%><br>
<i>Votre e-mail :</i><br>
<%=@user.email%><br>
<%=link_to 'editer mon profil', edit_user_path(@user.id)%><br>
<%=link_to 'destroy',users_path(@user.id),method:'delete',data: {confirm:'are you sure?'}%><br>
<%if @user.ventes.length != 0%>
	<h1>voici mon liste de publication de vente</h1>
	<%@user.ventes.each do |vente|%>
		<%=vente.produit.name%><br>
		<%=vente.region.place%><br>
		<%= link_to "See more", vente_path(vente.id) %><br>
	<%end%>
	<br>
<%end%>
<%= link_to "Créer une publication vente", new_vente_path %><br>
<%if @user.achats.length != 0%>
	<h1>voici mon liste de publication d'achat</h1>
	<%@user.achats.each do |achat|%>
		<%=achat.produit.name%><br>
		<%=achat.region.place%><br>
		<%= link_to "See more", achat_path(achat.id) %><br>
	<%end%>
<%end%>
<%= link_to "Créer une publication achat", new_achat_path %><br>

