<h1>Mon profil </h1>
          first_name :<%= @user.first_name%><br>
          last_name :<%= @user.last_name%><br>
          Age :<%=@user.age%><br>
          Ville : <%= @user.ville%><br>
          contact :<%=@user.contact%><br>
          description : <%= @user.description%><br>
          Votre e-mail : <%=@user.email%><br>
<%=link_to 'editer mon profil', edit_user_path(@user.id)%>
<%=link_to 'destroy',users_path(@user.id),methode:'delete',data: {confirm:'are you sure?'}%>

