
<h1>Mon profil est changer</h1>
first_name :<br>
<%= @user.first_name%><br> 
last_name :<br>
<%= @user.last_name%><br>
<%if @user.age != "" %>
  Age :<br>
  <%=@user.age%>ans<br>
 <%end%>
<%if @user.ville != "" %>
  Ville :<br>
  <%= @user.ville%><br>
<%end%>
<%if @user.contact != nil %>
	contact :<br>
	<%=@user.contact%><br>
<%end%>
description :<br>
<%= @user.description%><br>
Votre e-mail :<br>
<%=@user.email%><br>
<%=link_to 'editer mon profil', edit_user_path(@user.id)%><br>
<%=link_to 'destroy',users_path(@user.id),method:'delete',data: {confirm:'are you sure?'}%><br>
<%if @user.ventes.length != 0%>
	<h1>voici mon liste de publication de vente</h1>
	<%@user.ventes.each do |vente|%>
		<%=vente.produit.name%><br>
		<%=vente.region.place%><br>
		<%= link_to "See more", vente_path(vente.id) %><br>
	<%end%>
	<br>
<%end%>
<%= link_to "Créer une publication vente", new_vente_path %><br>
<%if @user.achats.length != 0%>
	<h1>voici mon liste de publication d'achat</h1>
	<%@user.achats.each do |achat|%>
		<%=achat.produit.name%><br>
		<%=achat.region.place%><br>
		<%= link_to "See more", achat_path(achat.id) %><br>
	<%end%>
<%end%>
<%= link_to "Créer une publication achat", new_achat_path %><br>

