<div class="ground editachatground blanche">


<h1><%if @user == current_user%>Mon profil<%else%>Profil de <%=@user.first_name%><%end%></h1>

<h3>Profil actuel</h3>
<%if @user.profil.attached?%>
  <%= image_tag @user.profil, alt: 'profil_picture',style: "max-height:400px; width: 440px;" %>
  <h3>Changer la photo de profil ?</h3>
	<%= form_tag user_profils_path(@user), multipart: true do %>
	  <%= file_field_tag :profil %>
	  <%= submit_tag "mettre à jour" %>
	<%end%>
<%else%>
  <p>=== Vous n'avez pas encore une photo de profil ===</p>
  <h3>Ajouter une photo de profil ?</h3>
	<%= form_tag user_profils_path(@user), multipart: true do %>
	  <%= file_field_tag :profil %>
	  <%= submit_tag "mettre à jour" %>
	<% end %>
<%end%>
<br>
<i>first_name :</i><br>
<%= @user.first_name%><br> 
<i>last_name :</i><br>
<%= @user.last_name%><br>
<%if params[:age] != "" %>
  <i>Age :</i><br>
  <%=@user.age%>ans<br>
 <%end%>
<%if params[:ville] != "" %>
  <i>Ville :</i><br>
  <%= @user.ville%><br>
<%end%>
<%if params[:contact] != nil %>
	<i>contact :</i><br>
	<%=@user.contact%><br>
<%end%>
<i>description :</i><br>
<%= @user.description%><br>
<i>e-mail :</i><br>
<%=@user.email%><br>
<%if @user == current_user || current_user.is_admin%>
<%=link_to 'editer mon profil', edit_user_path(@user.id)%><br>
<%end%>
<% if current_user.is_admin %>
	<% if @user.is_admin %>
		<%=link_to 'destroy',users_path(@user.id),method:'delete',data: {confirm:'are you sure?'}%><br>
		<%= link_to "remove to admin", admin_path(@user.id), method:'put' %>
	<% else %>
		<%=link_to 'destroy',users_path(@user.id),method:'delete',data: {confirm:'are you sure?'}%><br>
		<%= link_to "add to admin", admin_path(@user.id), method:'put' %>
	<% end %>
<% end %>
<%if current_user == @user || current_user.is_admin%>
	<%if @user.ventes.length != 0%>
		<h1>voici mon liste de publication de vente</h1>
		<p>liste en ligne</p>
		<%@user.ventes.each do |vente|%>
			<%if vente.is_authenticate%>
				<%=vente.produit.name%><br>
				<%=vente.region.place%><br>
				<%= link_to "See more", vente_path(vente.id) %><br>
			<%end%>
		<%end%>
		<br>
		<p>liste en attent</p>
		<%@user.ventes.each do |vente|%>
			<%unless vente.is_authenticate%>
				<%=vente.produit.name%><br>
				<%=vente.region.place%><br>
				<%= link_to "See more", vente_path(vente.id) %><br>
			<%end%>
		<%end%>
		<br>

	<%end%>
	<%if @user.achats.length != 0%>
		<h1>voici mon liste de publication d'achat</h1>
		<p>liste en ligne</p>
		<%@user.achats.each do |achat|%>
			<%if achat.is_authenticate%>
				<%=achat.produit.name%><br>
				<%=achat.region.place%><br>
				<%= link_to "See more", achat_path(achat.id) %><br>
			<%end%>
		<%end%>
		<p>liste en attent</p>
		<%@user.achats.each do |achat|%>
			<%unless achat.is_authenticate%>
				<%=achat.produit.name%><br>
				<%=achat.region.place%><br>
				<%= link_to "See more", achat_path(achat.id) %><br>
			<%end%>
		<%end%>
	<%end%>
<%end%>

</div>