<h1>Mon profil est changer</h1>
first_name :<br>
<%= current_user.first_name%><br> 
last_name :<br>
<%= current_user.last_name%><br>
<%if params[:age] != "" %>
  Age :<br>
  <%=current_user.age%>ans<br>
 <%end%>
<%if params[:ville] != "" %>
  Ville :<br>
  <%= current_user.ville%><br>
<%end%>
<%if params[:contact] != nil %>
	contact :<br>
	<%=current_user.contact%><br>
<%end%>
description :<br>
<%= current_user.description%><br>
Votre e-mail :<br>
<%=current_user.email%><br>
<%=link_to 'editer mon profil', edit_user_path(current_user.id)%>