<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Mes publications d'achats</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<%if @user.achats.length == 0%>
	<div class="page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="post">
					  <div class="post-thumb">
					      <%=image_tag 'etonné1.jpg',alt:'rien',class:"img-responsive"%>
					    </a>
					  </div>
				  		<h3 class="post-title">Vous n'avez pas de publication d'achat</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
<%else%>
	<%if @achat_authentifie.length != 0%>
		<ol class="breadcrumb">
			<li class="active">Publication de demande </li>
			<li class="active">En ligne</li>
		</ol>
		<div class="page-wrapper">
			<div class="container">
				<div class="row">
					<%@achat_authentifie.each do |achat|%>
			      		<div class="col-md-6">
					        <div class="post">
					          <div class="post-thumb">
					              <%= image_tag achat.avatarachat, alt: 'photo_achat',class:"img-responsive" %>
					          </div>
					          <h2 class="post-title"><%=achat.produit.name %></h2>
					          <div class="post-meta">
					            <ul>
									<%if achat.date != nil %>
										<li>
						                <i class="fal fa-calendar-alt"></i>  <%=achat.date.to_date %></a>
						              </li>
									<%end%>
					              <li>
					                <i class="fas fa-weight"> </i>  <%=achat.quantite %>
					              </li>
					              <%if achat.prix != "" %>
						              <li>
						                <i class="fas fa-dollar-sign"> </i>  <%=achat.prix %>
						              </li>
						            <%end%>
						              <li>
						               <i class="fas fa-map-marker-alt"></i> <%=achat.region.place %></a>
						              </li>
						            <%if achat.lieu != "" %>
						              <li>
						                <i class="fas fa-map-marker-alt"> </i>  <%=achat.lieu %></a>
						              </li>
									<%end%>
					            </ul>
					          </div>
					          <div class="post-content">
					            <p><%= achat.description %></p>
					            <%=link_to "Editer",edit_achat_path(achat.id),class:"btn btn-primary"%>
					            
					            <%= link_to "supprimer",achat_path(achat.id),class:'btn btn-danger', method: 'delete', data: {confirm: 'supprimer?'} %>
					          </div>
							</div>
			        	</div>
			        <%end%>
				</div>
			</div>
		</div>
	<%end%>
	<%if @achat_unauthentifie.length != 0%>
		<ol class="breadcrumb">
			<li class="active">Publication de demande </li>
			<li class="active">En attente</li>
		</ol>
		<div class="page-wrapper">
			<div class="container">
				<div class="row">
					<%@achat_unauthentifie.each do |achat|%>
			      		<div class="col-md-6">
					        <div class="post">
					          <div class="post-thumb">
					          	<%if achat.avatarachat.attached?%>
					              <%= image_tag achat.avatarachat, alt: 'photo_achat',class:"img-responsive" %>
								<%else%>
								<%= image_tag 'no-photo.png', alt: 'photo_achat',class:"img-responsive" %>
								<%end%>
					          </div>
					          <h2 class="post-title"><%=achat.produit.name %></h2>
					          <div class="post-meta">
					            <ul>
									<%if achat.date != nil %>
										<li>
						               <i class="fal fa-calendar-alt"></i>  <%=achat.date.to_date %></a>
						              </li>
									<%end%>
					              <li>
					                <i class="fas fa-weight"></i><%=achat.quantite %>
					              </li>
					              <%if achat.prix != "" %>
						              <li>
						                <i class="fas fa-dollar-sign"></i> <%=achat.prix %>
						              </li>
						            <%end%>
						              <li>
						                <i class="fas fa-map-marker-alt"></i>  <%=achat.region.place %></a>
						              </li>
						            <%if achat.lieu != "" %>
						              <li>
						                <i class="fas fa-map-marker-alt"></i> <%=achat.lieu %></a>
						              </li>
									<%end%>
					            </ul>
					          </div>
					          <div class="post-content">
					            <p><%= achat.description %></p>
					            <%=link_to "Editer",edit_achat_path(achat.id),class:"btn btn-primary"%>
					            
					            <%= link_to "supprimer",achat_path(achat.id),class:'btn btn-danger', method: 'delete', data: {confirm: 'supprimer?'} %>
					          </div>
							</div>
			        	</div>
			        <%end%>
				</div>
			</div>
		</div>
	<%end%>
<%end%>