
<body>
	<h1>Salut les admins <%@admin.each do |admin|%> '<%= admin.first_name %>' <%end%>!</h1>

	<p>
	  Un utilisateur nommé <%=@user.first_name%> et ayant le mail <%= @user.email %> vient de s'inscrir sur notre site.
	</p>    
</body>
<div class="ground">
	<div class="mailenvoi center">
		
	<h1>Salut : <%@admin.each do |admin|%> '<%= admin.first_name %>' <%end%>!</h1>
	<p>
	  Un utilisateur nommé <i style="color: #03f2ff;">'<%=@user.first_name%>'</i> et ayant le mail  <%= @user.email %> vient de s'inscrir sur notre site.
	</p>
	<img src="http://techstory.in/wp-content/uploads/2018/04/Is-India-Ready-for-Full-Scale-Agri-Entrepreneurship.jpg" class="photomail"><br>
	<i class="bleu"> AgriGasy </i> vous souhaite une excéllante journée
	</div>
</div>

