<div class=" searchindex">
	<div class=" showp center">
	<%if @produit.length != 0%>
		<h1 >Résultat de produit sur <%=@params%> : </h1>
		<div class="vente"><h4 >Vente</h4></div>			
		<%if @vente.length != 0 %>
			<%@vente.each do |vente|%>
				<%if vente != nil%>
					<h3><%=link_to vente.produit.name, vente_path(vente.id)%></h3>
					<%=link_to vente.region.place, region_path(vente.region.id)%>
				<%end%>

			<%end%>
		<%else%>
			Pas de resultat sur <%=@params%><br>	
		<%end%>
		<div class="vente"><h4>Achat</h4></div>
		<%if @achat.length != 0 %>
			<%@achat.each do |achat|%>
				<%if achat != nil%>
					<h3><%= link_to achat.produit.name,achat_path(achat.id)%></h3>
					<h3><%=link_to achat.region.place,region_path(achat.region.id)%></h3>
				<%end%>
			<%end%>
		<%else%>
			Pas de resultat sur <%=@params%><br>
		<%end%>
	<%end%>

	<%if @region.length != 0%>
		<h1>Résultat dans la région sur <%=@params%> </h1>
		<div class="vente blanche"><h4 >Vente</h4></div>
		<%if @vente2.length != 0 %>
			<%@vente2.each do |vente|%>
				<%if vente != nil%>
					<h3><%=link_to vente.produit.name, vente_path(vente.id)%></h3>
					<h3><%=link_to vente.region.place, region_path(vente.region.id)%></h3>
				<%end%>
			<%end%>
		<%else%>
			Pas de resultat sur <%=@params%><br>	
		<%end%>
		<div class="vente"><h4>Achat</h4></div>
		<%if @achat2.length != 0 %>
			<%@achat2.each do |achat|%>
				<%if achat != nil%>
					<h3><%=link_to achat.produit.name,achat_path(achat.id)%></h3>
					<h3><%=link_to achat.region.place, region_path(achat.region.id)%></h3>
				<%end%>
			<%end%>
		<%else%>
			Pas de resultat sur <%=@params%><br>
		<%end%>
	<%end%>

	<%if @region.length == 0 && @produit.length == 0 %>
		<p>Pas de résultat sur <%=@params%></p>
	<%end%>
	</div>
</div>
