<div class="ground editachatground ">

    <%if @message.length !=0%>
        <%i =@message.length%>
        <%for k in (0..@message.length-1)%>
            <%i-=1%>
           <%if @message[i].sender == current_user%>
                 <h1><%=@message[i].sender.first_name%></h1></br>
                 <%=@message[i].content%>
                 <%= form_tag edit_user_achat_messagepriveachat_path(params[:user_id],params[:achat_id],@message[i].id),method:'get' do%>
                 
                    <%=submit_tag 'Editer'%>
                 <%end%>
                <%= form_tag "/users/#{params[:user_id]}/achats/#{params[:achat_id]}/messagepriveachats/#{@message[i].id}",method:'delete' do%>
                  <%=submit_tag 'Supprimer', data:{confirm: "Etes-vous sûr ?"}%>
                <%end%>
               	</br>
           <%else%>
           	 <h1><%=@message[i].sender.first_name%></h1>
           	 <%=@message[i].content%></br>
           <%end%>  
        <%end%>
        <%= form_tag "/users/#{params[:user_id]}/achats/#{params[:achat_id]}/messagepriveachats",method:'post' do%>
          <%=text_area_tag :content%>
            <%=submit_tag :envoyer%>
        <%end%>
    <%else%>
    <h1>Pas de message</h1>
    <%= form_tag "/users/#{current_user.id}/achats/#{params[:achat_id]}/messagepriveachats",method:'post' do%>
      <%=text_area_tag :content%>
        <%=submit_tag :envoyer%>
    <%end%>
    <%end%>

</div>


