<div class="ground editachatground ">

    <%if @message.length !=0%>
        <%i =@message.length%>
        <%for k in (0..@message.length-1)%>
            <%i-=1%>
           <%if @message[i].sender == current_user%>
                   <br>
                  <%if @message[i].sender.profil.attached?%>
                    <%=@message[i].sender.first_name%><br>  
                    <%= image_tag @message[i].sender.profil, alt: 'photo_achat',style: "height:50px; width: 50px;"%><%=  @message[i].content%>
                  <%else%>
                    <%=@message[i].sender.first_name%><br>
                    <%=  @message[i].content%>
                  <%end%>
                 <%= form_tag edit_user_achat_messagepriveachat_path(params[:user_id],params[:achat_id],@message[i].id),method:'get' do%>
                     <%=submit_tag 'Edit'%>
                 <%end%>
                <%= form_tag "/users/#{params[:user_id]}/achats/#{params[:achat_id]}/messagepriveachats/#{@message[i].id}",method:'delete' do%>
                  <%=submit_tag 'destroy', data:{confirm: "voulez vraiment supprimer cette message"}%>
                <%end%>
               	</br>
           <%else%>
                      <br>
                  <%if @message[i].sender.profil.attached?%>
                    <%=@message[i].sender.first_name%><br>
                    <%= image_tag @message[i].sender.profil, alt: 'photo_achat',style: "height:50px; width: 50px;"%><%=  @message[i].content%>
                  <%else%>
                    <%=@message[i].sender.first_name%><br>
                    <%=  @message[i].content%>
                  <%end%>
           <%end%>  
        <%end%>
        <%= form_tag "/users/#{params[:user_id]}/achats/#{params[:achat_id]}/messagepriveachats",method:'post' do%>
          <%=text_area_tag :content%>
            <%=submit_tag :envoyer%>
        <%end%>
    <%else%>
    <h1>Ecrire une message</h1>
    <%= form_tag "/users/#{current_user.id}/achats/#{params[:achat_id]}/messagepriveachats",method:'post' do%>
      <%=text_area_tag :content%>
        <%=submit_tag :envoyer%>
    <%end%>
    <%end%>

</div>


