<div class="regionground ">
	<div class="oneregion1">
	<!-- affichage allert -->
		<% if flash[:success] %>
			<div class="alert alert-success" style="text-align: center;"><%= flash[:success]%></div>
		<% else  %>
			<%if flash[:danger]%>
				<div class="alert alert-danger" style="text-align: center;"><%= flash[:danger]%></div>
			<% end %>
		<% end %>
		<div style="color: black;">
			<h1 class="center" style="font-family: verdana;font-size: 30px;">Liste de tous les regions qui comporte des produits </h1>
		</div >
		<div class="align-items-center">
			<div class="region">
				<table class="tab">
				  <tr class="tr1">
					<th class="tdh">
						<h1 class="center" style="font-family: Time New Roman;font-size: 25px;">REGION</h1>
					</th>
				  </tr>
					<div class="text-center">
						<%@region.each do |region|%>
							<%@vente_authentifie = false
							@achat_authentifie = false%>
							<%region.ventes.each do |vente|
								if vente.is_authenticate
									@vente_authentifie = true
									break
								else
									@vente_authentifie = false
								end
							end%>
							<%region.achats.each do |achat|
								if achat.is_authenticate 
									@achat_authentifie = true
									break
								else
									@achat_authentifie = false
								end
							end%>
							<%if user_signed_in?%>
								<%if @achat_authentifie || @vente_authentifie || current_user.is_admin%>
									<tr class="tr1">
										<td class="tdh"><%=link_to region.place , region_path(region.id)%></td>
										<%if current_user.is_admin%>
											<td class="tdh">
												<a href="<%=region_path(region.id)%>" data-method='delete' data-confirm='voulez vous vraiment supprimer ce message ?' class='btn btn-danger'><i class="fas fa-trash" title="supprimer"></i></a>
											</td>
										<%end%>
									</tr>
								<%end%>
							<%else%>
								<%if @achat_authentifie || @vente_authentifie%>
									<tr class="tr1">
										<td class="tdh"><%=link_to region.place , region_path(region.id)%>
										</td>
									</tr>
								<%end%>
							<%end%>
						<%end%>
					</div>
				</table>
			</div>
			<div class="region2">
				<div class="grid-it">
					<div id="slider">
						<figure>
							<%= image_tag("region1.jpg")%>
							<%= image_tag("region2.jpg")%>
							<%= image_tag("region3.jpg")%>
							<%= image_tag("region4.jpg")%>
							<%= image_tag("region5.jpg")%>
						</figure>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div>
		<section class="contact ">
	    	<div class="container">
	        <div class="row">
	            <div class="col-lg-4 mb-4 mb-lg-0 col-md-4 ">
	                <h4>Voire plus d' info</h4>
	                <p>Essayer de verifier les regions où il y a des produits</p>
	            </div>
	            <div class="col-lg-4 mb-4 mb-lg-0 col-md-4">
	                <h4>Local</h4>
	                <p>Trouver directement sur maps si c'est à votre disposition</p>
	            </div>
	            <div class="col-lg-4 col-md-4">
	                <h4>Contact</h4>
	                 <p class="mb-0">Contacté le client en cas de besoin</p>
	                <p class="mb-0">Envoyé leurs des messages privés</p>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-12 col-md-12 col-sm-12">
	                <div class="google-map">
	                    <div id="map"></div>
	                </div>
	            </div>
	        </div>
	    	</div>
		</section>
	</div>
</div>
