<h1><%=@region.place%></h1>
 
 <%if @ventes.length == 0%>
 	<h4>Aucune publication de vente dans cette region </h4>
 	</br>
 <%else%>
 <h4>Liste des ventes dans cette region :</h4>
 	<%@ventes.each do |vente|%>
 	  <%=link_to vente.produit.name, vente_path(vente.id)%> 
 	  </br>
 	<%end%>
 <%end%>
 <%if @achats.length == 0%>
 	<h4>Aucune publication d'achat dans cette region </h4>
 	</br>
 <%else%>
 <h4>Liste des achats dans cette region :</h4>
  	<%@ventes.each do |vente|%>
 	  <%=link_to vente.produit.name, vente_path(vente.id)%>
 	  </br>
 	<%end%>
 <%end%>
<h1><%=form_tag url_for(action: 'destroy'), method: 'delete' do%>
	<%=submit_tag "Supprimer cette region",  data:{confirm: "Etes-vous sûre de vouloir supprimer cette region?"}%>
	<%end%>
</h1>
 
