<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>AgriGasy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg  main-nav fixed-top" id="navbar">
      <div class="container">
        <a class="navbar-brand " href="/accueils">
          <i class="gras">AgriGasy</i>
        </a>
        <%if user_signed_in?%>
          <h3><li class="online"></l></h3>
        <%end%>

        <button class="navbar-toggler collapsed toptop" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="ti-align-justify"></span>
        </button>
      
          <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav ml-auto float-right">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classement</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li><a class="dropdown-item" href="<%=produits_path%>">Produits</a></li>
                <li><a class="dropdown-item" href="<%=regions_path%>">Regions</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nouvelle publication</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown02">
                <li><a class="dropdown-item" href="<%=new_vente_path%>">Vente</a></li>
                <li><a class="dropdown-item" href="<%=new_achat_path%>">Achat</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publication</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown02">
                <li><a class="dropdown-item" href="<%=ventes_path%>">Vente</a></li>
                <li><a class="dropdown-item" href="<%=achats_path%>">Achat</a></li>
              </ul>
            </li>
            <%if current_user != nil %>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Messages</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown02">
                  <li><a class="dropdown-item" href="<%=user_message_prives_path(current_user.id)%>">Boite de reception (<%=MessagePrive.where('recipient_id =:current_user_id  AND is_read =:a',current_user_id:current_user.id , a:false).count%>)</a></li>
                  <li><a class="dropdown-item" href="<%=find_user_path%>">Nouveau message</a></li>
                  <%finalmessages =[]
                  MessagePrive.where('recipient_id =:current_user_id  AND is_read =:a',current_user_id:current_user.id , a:false).each do |test1|
                        if !finalmessages.include?(MessagePrive.find_by(recipient:current_user,sender:test1.sender, is_read: false))
                          finalmessages << test1
                        end
                  end%>
                  <%finalmessages.each do |message|%>
                    <li><a class="dropdown-item" href="<%=new_user_message_prife_path(message.sender.id)%>"><%=message.sender.first_name%> (<%=MessagePrive.where(recipient:current_user,sender:message.sender,is_read: false).count%>)</a></li>
                  <%end%>
                </ul>
              </li>
             <%end%>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown"><i class="fa fa-search"></i></a>
            </li>
             <li class="nav-item"><%=form_tag recherches_path ,method:'get' do%>
                <input type="text" class="search" name="find" placeholder="Search...">
                <input type="submit" hidden>
                <%end%>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="circularMenu1" class="circular-menu circular-menu-left ">
      <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
        <i class="fa fa-bars"></i>
      </a>
      <menu class="items-wrapper">
      <a href="<%=root_path%>" title="Home" class="menu-item fa fa-home"></a>
      <%if user_signed_in?%>
      <a href="<%=destroy_user_session_path%>" title="sign_out" data-method="delete" class="menu-item fa fa-sign-out" aria-hidden="true"></a>
      <a href="<%=user_path(current_user.id)%>" title="Profil" <%if current_user.profil.attached?%>class="menu-item"<%else%>
        class="menu-item fa fa-user"<%end%>>
        <%if current_user.profil.attached?%>
          <%= image_tag current_user.profil, alt: 'P',style: "height:43px; width: 43px;",class:'round profilphoto' %>
        <%end%>
      </a>
      <%if current_user.is_admin%>
        <a href="/" title="AdminDashboard" class="menu-item fa fa-user-secret" aria-hidden="true"></a>
      <%end%>
      <%else%>
        <a href="<%=new_user_session_path%>" title="Sign_in" class="menu-item fa fa-sign-in"></a>
        <a href="<%=new_user_registration_path%>" title="Sign_up" class="menu-item fa fa-user-plus"></a>
      <%end%>
      </menu>
        </div>
          <div id="circularMenu" class="circular-menu">
            <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
              <i class="fa fa-share-alt"></i>
            </a>
            <menu class="items-wrapper">
            <a  rel="tooltip" title="Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank" class="menu-item fa fa-facebook">
            </a>
            <a  rel="tooltip" title="Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank" class="menu-item fa fa-twitter">
            </a>
            <a  rel="tooltip" title="Google+" data-placement="bottom" href="https://aboutme.google.com" class="menu-item fa fa-google-plus" target="_blank">
            </a>
            <a  rel="tooltip" title="instagram" data-placement="bottom" href="https://www.instagram.com/" class="menu-item fa fa-linkedin" target="_blank">
            </a>
          </menu>
        </div>
    <%= yield %>
  <footer>
    <div class="container footback">
          <div class="text-center ">
            <%=image_tag 'Tree.png',style: "height:60px; width: 60px;",class:'round profilphoto' %>
            <p class="mb-0">Copyrights © 2019. Designed & Developed by <a href="https://agrigasy.herokuapp.com" class="text-secondary">AgriGasy</a>, <a href="<%=conditions_path%>">Condition</a></p> <a href="https://www.freeprivacypolicy.com/privacy/view/2c2b12b5191a3fd3edfc914c36d2e594">Règle de confidentialité</a>
      </div>
    </div>
  </footer>

  </body>
  <!-- jQuery -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script> 
  <script type="assets/javascript/application.js"></script>
</html>

