<!DOCTYPE html>
<html>
  <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>AgriGasy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <header>
    <div class="topnav">
    <a class="active" href="<%=accueils_path%>">AgriGasy</a>
    <!-- <a href="<%=accueils_path%>" class="online"><li></li></a> -->
    <%if user_signed_in? && current_user.is_admin%>
      <a href="<%=admins_path%>">Admins dashboard</a>
    <%end%>
    <a href="<%=regions_path%>">Region</a>
    <a href="<%=produits_path%>">Produit</a>
    <i class="fa fa-search"></i>
    <%=form_tag recherches_path ,method:'get' do%>
     <input type="text" class="search" name="find" placeholder="Search..."> 
      <input type="submit" hidden>
    <%end%>
   
  </div> 
  </header>
<div class="row">
 <!--  <div class="left" style="background-color:#bbb, opacity: 0.5;">
    <h2>Menu</h2>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category" style="opacity: 0.5;">
    <ul id="myMenu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">PHP</a></li>
      <li><a href="#">Python</a></li>
      <li><a href="#">jQuery</a></li>
      <li><a href="#">SQL</a></li>
      <li><a href="#">Bootstrap</a></li>
      <li><a href="#">Node.js</a></li>
    </ul>
  </div> -->
</div>

<div id="circularMenu1" class="circular-menu circular-menu-left ">

  <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
    <i class="fa fa-bars"></i>
  </a>
  <menu class="items-wrapper">
    <a href="<%=root_path%>" title="Home" class="menu-item fa fa-home"></a>
    <%if user_signed_in?%>
      <a href="<%=destroy_user_session_path%>" title="sign_out" data-method="delete" class="menu-item fa fa-sign-out"></a>
      <a href="<%=user_path(current_user.id)%>" title="Profil" <%if current_user.profil.attached?%>class="menu-item"<%else%>
        class="menu-item fa fa-user"<%end%>>
        <%if current_user.profil.attached?%><%= image_tag current_user.profil, alt: 'profil_picture',style: "height:50px; width: 50px;",class:'round profilphoto' %><%else%><%end%>
      </a>
    <%else%>
      <a href="<%=new_user_session_path%>" title="Sign_in" class="menu-item fa fa-sign-in"></a>
      <a href="<%=new_user_registration_path%>" title="Sign_up" class="menu-item fa fa-user-plus"></a>
    <%end%>
  </menu>

</div>
<div id="circularMenu" class="circular-menu">

  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
    <i class="fa fa-share-alt"></i>
  </a>

  <menu class="items-wrapper">
    <a  rel="tooltip" title="Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank" class="menu-item fa fa-facebook">
    </a>    
    <a  rel="tooltip" title="Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank" class="menu-item fa fa-twitter">
    </a>
    <a  rel="tooltip" title="Google+" data-placement="bottom" href="https://aboutme.google.com" class="menu-item fa fa-google-plus" target="_blank">
    </a>    
    <a  rel="tooltip" title="instagram" data-placement="bottom" href="https://www.instagram.com/" class="menu-item fa fa-linkedin" target="_blank">
    </a>
  </menu>
</div> 
<div class="dropdown">
  <button onclick="mYFunction()" class="dropbtn"><i class="fa fa-plus"></i></button>
  <div id="myDropdown" class="dropdown-content">
    <a href="<%=new_vente_path%>">New vente</a>
    <a href="<%=new_achat_path%>">New achat</a>
  </div>
</div>


<%= yield %>
<footer>
</footer> 
</body>
</html>

  

