<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>AgriGasy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="bootstrap3/css/bootstrap.css" rel="stylesheet" />
    <link href="bootstrap3/css/font-awesome.css" rel="stylesheet" />
    
    <link href="css/gsdk.css" rel="stylesheet" />
    <link href="css/demo.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      
      <div id="navbar-full">
        <div id="navbar">
          <!--
          navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
          -->
          <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
            <div class="alert alert-success hidden">
              <div class="container">
                <b>Lorem ipsum</b> dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              </div>
            </div>
            
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
              
                  <div id="circularMenu2" class="circular-menu circular-menu-left ">
                    <a class="floating-btn" onclick="document.getElementById('circularMenu2').classList.toggle('active');">
                      <i class="fa fa-bars"></i>
                    </a>
                    <menu class="items-wrapper">
                    <a href="<%=root_path%>" title="Home" class="menu-item fa fa-home"></a>
                    <%if user_signed_in?%>
                    <a href="<%=destroy_user_session_path%>" title="sign_out" data-method="delete" class="menu-item fa fa-sign-out"></a>
                    <a href="<%=user_path(current_user.id)%>" title="Profil" <%if current_user.profil.attached?%>class="menu-item"<%else%>
                      class="menu-item fa fa-user"<%end%>>
                      <%if current_user.profil.attached?%><%= image_tag current_user.profil, alt: 'profil_picture',style: "height:50px; width: 50px;",class:'round profilphoto' %><%else%><%end%>
                    </a>
                    <%else%>
                    <a href="<%=new_user_session_path%>" title="Sign_in" class="menu-item fa fa-sign-in"></a>
                    <a href="<%=new_user_registration_path%>" title="Sign_up" class="menu-item fa fa-user-plus"></a>
                    <%end%>
                    </menu>
                  </div>
               
                <a class="navbar-brand" href="#gsdk">GSDKit</a>
              </div>
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#gsdk">Link</a></li>
                  <!-- <li class="dropdown">
                    <a href="#gsdk" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#gsdk">Action</a></li>
                      <li><a href="#gsdk">Another action</a></li>
                      <li><a href="#gsdk">Something</a></li>
                      <li><a href="#gsdk">Another action</a></li>
                      <li><a href="#gsdk">Something</a></li>
                      <li class="divider"></li>
                      <li><a href="#gsdk">Separated link</a></li>
                    </ul>
                  </li> -->
                  <li>
                    <a href="javascript:void(0);" data-toggle="search" class="hidden-xs"><i class="fa fa-search"></i></a>
                  </li>
                </ul>
                <form class="navbar-form navbar-left navbar-search-form" role="search">
                  <div class="form-group">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                  </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#gsdk">Register</a></li>
                  
                  <li>            <div id="circularMenu1" class="circular-menu circular-menu-left ">
              <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
                <i class="fa fa-bars"></i>
              </a>
              <menu class="items-wrapper">
              <a href="<%=root_path%>" title="Home" class="menu-item fa fa-home"></a>
              <%if user_signed_in?%>
              <a href="<%=destroy_user_session_path%>" title="sign_out" data-method="delete" class="menu-item fa fa-sign-out"></a>
              <a href="<%=user_path(current_user.id)%>" title="Profil" <%if current_user.profil.attached?%>class="menu-item"<%else%>
                class="menu-item fa fa-user"<%end%>>
                <%if current_user.profil.attached?%><%= image_tag current_user.profil, alt: 'profil_picture',style: "height:50px; width: 50px;",class:'round profilphoto' %><%else%><%end%>
              </a>
              <%else%>
              <a href="<%=new_user_session_path%>" title="Sign_in" class="menu-item fa fa-sign-in"></a>
              <a href="<%=new_user_registration_path%>" title="Sign_up" class="menu-item fa fa-user-plus"></a>
              <%end%>
              </menu>
            </div>







                  </li>
                </ul>
                
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
              <div class="blurred-container">
                <div class="img-src" style="background-image: url('img/cover_4.jpg')"></div>
              </div>
              </div><!--  end navbar -->
              </div> <!-- end menu-dropdown -->
            </header>
            
            <div class="row">
              <!--  <div class="left" style="background-color:#bbb, opacity: 0.5;">
                <h2>Menu</h2>
                <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category" style="opacity: 0.5;">
                <ul id="myMenu">
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                  <li><a href="#">PHP</a></li>
                  <li><a href="#">Python</a></li>
                  <li><a href="#">jQuery</a></li>
                  <li><a href="#">SQL</a></li>
                  <li><a href="#">Bootstrap</a></li>
                  <li><a href="#">Node.js</a></li>
                </ul>
              </div> -->
            </div>
            <div class="drop">
              <button onclick="mYFunction()" class="drop-btn"><i class="fa fa-plus"></i></button>
              <div id="myDropdown" class="drop-down-content">
                <a href="<%=new_vente_path%>">New vente</a>
                <a href="<%=new_achat_path%>">New achat</a>
              </div>
            </div>

            <div id="circularMenu" class="circular-menu">
              <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
                <i class="fa fa-share-alt"></i>
              </a>
              <menu class="items-wrapper">
              <a  rel="tooltip" title="Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank" class="menu-item fa fa-facebook">
              </a>
              <a  rel="tooltip" title="Twitter" data-placement="bottom" href="https://twitter.com/" target="_blank" class="menu-item fa fa-twitter">
              </a>
              <a  rel="tooltip" title="Google+" data-placement="bottom" href="https://aboutme.google.com" class="menu-item fa fa-google-plus" target="_blank">
              </a>
              <a  rel="tooltip" title="instagram" data-placement="bottom" href="https://www.instagram.com/" class="menu-item fa fa-linkedin" target="_blank">
              </a>
              </menu>
            </div>
            <%= yield %>
            <footer>
            </footer>
          </body>
          <script src="jquery/jquery-1.10.2.js" type="text/javascript"></script>
          <script src="js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
          <script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>
          <script src="js/gsdk-checkbox.js"></script>
          <script src="js/gsdk-radio.js"></script>
          <script src="js/gsdk-bootstrapswitch.js"></script>
          <script src="js/get-shit-done.js"></script>
          
          <script src="js/custom.js"></script>
        </html>